{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>

<!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">


      </div>
    </section><!-- End Breadcrumbs Section -->
    <div class="container" style="height: 600px">
        <h2>Email Sent!</h2>
        <hr>
         <p style="font-size: 15px">Please check your email! If you didn't recieve and email please try the process again.</p>
    </div>


    


 </main>
{% endblock content %}