
{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>

<!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs bg-white">
      <div class="container">


      </div>
    </section><!-- End Breadcrumbs Section -->
    <div class="container">
       <h2>Change password</h2>
      <hr>
    </div>

 <div class="container" style="height: 600px">
       {% if validlink %}
      <div class="content-section border">
       <form class="ml-4 mt-4 mb-4 mr-4" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group mt-3">
                <button class="btn btn-outline-info" type="submit">Confirm Password</button>
            </div>
      </form>
    </div>
     
      
    {% else %}
     <div class="container">
       <p style="font-size: 15px"> The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset <a href="/password-reset">here</a></p>
      <hr>
    </div>
      
    {% endif %}

    </div>

    


 </main>
{% endblock content %}




