{% autoescape off %}
<center>
<div style="width: 900px; height: auto; padding: 0px">
	<div style="background-color: lightgrey; width: auto; height: 50px; padding: 10px">
		<p style="color: grey">Just Ask</p>
	</div>
	<p style="font-size: 30px; font-style: bold">Hi {{ user.get_username }},</p>
<center>
<p>You recently requested to reset password for your Just Ask account. Click the button below to reset it.</p>
<br>
<br>

<a href="{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}"><button style="background-color: #008CBA;color: white;border: 2px solid #008CBA; padding: 10px; ">Reset your password</button></a>
<br>
<br>
</center>

<p>
	If you did not request a password reset, Please 
</p>
<p>contact us as <a href="">support@just-ask.in</a>.</p>



<p>If clicking the button above doesn't work, please copy and paste the URL below in a new browser
window instead.</p>
<a href="{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}</a>

<br><br>

<p>Sincerely,</p>
<p>The Just Ask Team</p>
<br>
<br>



<div style="background-color: lightgrey; width: auto; height: 100px; padding: 20px">
		<p style="color: grey"><p style="color: grey">Gujarat,India</p></p>
	</div>

</div>
</center>


{% endautoescape %}