{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>

<!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs bg-white">
      <div class="container">


      </div>
    </section><!-- End Breadcrumbs Section -->
    <div class="container">
    	<h2>Reset Password</h2>
    	<hr>
         <p style="font-size: 15px">Enter your registered Email.</p>
    </div>

    <div class="container" style="height: 600px">
    	<div class="content-section border">

        <form class="ml-4 mt-4 mb-4 mr-4" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                
                <div>
                	{{ form|crispy }}
                </div>
                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
    </div>

    


 </main>
{% endblock content %}