{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>

<!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs bg-white">
      <div class="container">


      </div>
    </section><!-- End Breadcrumbs Section -->
     <div class="container">
       <h2>Change password</h2>
      <hr>
    </div>

    <div class="container" style="height: 600px">
    	<p>
    Your password has been set. You may go ahead and <a href="/login">sign in</a> now.
  </p>
    </div>


    


 </main>
{% endblock content %}


