{% extends "main/header.html" %}
{% block content %}
{% load static %}
{% load poll_extras %}



  <main>
    <!-- ======= Breadcrumbs Section ======= -->
    <section id="books" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

           <form action="/booksearch_request" method="get">
            <div class="row"> 
            <div class="col-12 col-sm-9 col-md-7 col-lg-6">
              <div class="input-group input-group-lg">
              <input type="text" class="form-control mt-4" name="search" id='search' aria-label="Large" placeholder="Search By ISBN, Title or Author's Name" aria-describedby="inputGroup-sizing-sm" style="border-color: #1acc8d; border-width: 3px;width: 900px; border-radius: 5px">
           
              </div>
            </div>

            <div class="col-12 col-sm-3 col-md-2 col-lg-3">
            <div class="text-center text-lg-left">
              
                {% csrf_token %}
                <input class="btn btn-get-started mt-4" type="submit" value="Search" style="border-radius: 5px;">
            </div>
            </div>

            </div>
             </form>

        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->


    <section class="breadcrumbs bg-white mb-0 mt-2">
      <div class="container">

        <div class="d-flex align-items-center">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Books</li>
          </ol>
        </div>

      </div>

     
    </section><!-- End Breadcrumbs Section -->
<hr>
<div class="container">
  <h5 style="color: lightgrey">You can search for the book and buy it if the book is not available for free. Your books are only shown in your collection if you have either bought or rented that particular book from Just Ask.</h5>
</div>

    <section class="inner-page mt-0">
      <div class="container mt-0" style="margin-bottom: 200px">

{% if user.is_authenticated %}
<div class="row justify-content-center">
  <div class="col-10 col-sm-10 col-lg-8">
    <div class="row justify-content-center">
          <div class="col-sm-9  ">
            <h2>{{user.username}}'s Collection</h2>
        
            </div>
          </div>
          <hr>
          {% if book != "False"%}
          <div class="row justify-content-center align-items-center">
            <div class="card-deck">
            {% for b in book %}
            hello world
            <div class="col-4 col-sm-7 ml-4 col-md-7 col-lg-5">
              <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <div class="card-body">
                  <img src="{{b.book.Bcover.url}}" height="250" style="margin-left: 6%; margin-bottom: 10%">
                  <h5 class="card-title">{{b.book.File_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">ISBN: {{b.book.BID}}</h6>
                  

                  <form action="/bookbuyview_request" method="get">
                    <input type="text" class="form-control" name="bid" id='bid'  value="{{b.book.BID}}" hidden="True">
                  <input type="submit" value="Open Book" style="border-color: transparent; background-color: transparent;color: #1acc8d">
                </form>
                  
                </div>
              </div>
            </div>
              
            {% endfor %}
          </div>
          </div>

            {% else %}
            <h5 class="py-5" style="color: lightgrey; text-align: center">You currenty have no books in your shelf.</h5>
          {% endif %}
  </div>
    <div class="col-8 col-sm-5 col-md-5 col-lg-4 justify-content-center">
       <div class="card" style="width: 22rem;">
              <div class="card-body">
                <h5 class="card-title">Request a book!</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="font-size: 11px">Submit your request for a book that is not available in our collection. We will do our best to get it for you.</h6>
                 <form action="/bookaddition_request/" method="get">
                  {% csrf_token %}
                 <textarea rows="6" type="text" class="form-control my-3" name="question" id="question" aria-label="Large" placeholder="Enter book details (Include ISBN number if any..)" aria-describedby="inputGroup-sizing-sm"></textarea>
                <input class="btn btn-get-started float-right" type="submit" value="Submit" style="border-radius: 5px; background-color: lightgrey; color: black; font-style: bold">
             </form>
                
              </div>
            </div>
    </div>
</div>
         
            
        

          
          <hr>
        {% else %}
        <h2 style="color: lightgrey; text-align: center">Login to see your collection!</h2>

        <hr>
        {% endif %}    
            <h2 data-aos="fade-up" class="mt-5 mb-5" style="text-align: center;font-weight:normal">Your books are equipped with following amenities!</h2>

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-9 col-md-5 col-sm-7 mt-5 col-lg-4">
                    <div class="card" style="width: 18rem; border-color: transparent;">
                      <div class="card-body">
                        <img src="{% static 'assets/img/palm-scan.gif' %}" width="100px" style="margin-left:30%; margin-bottom: 20%">
                        <h4 class="card-subtitle mb-2 text-muted" style="font-weight:normal;text-align: center">High Quality Scans</h4>
                        <p class="card-text" style="font-size: 15px; text-align: center">Converted hardcopy version of the book will have best possible scan quality</p>
                       
                      </div>
                    </div>
                </div>
                <div class="col-9 col-md-5 col-sm-7 mt-5 col-lg-4">
                    <div class="card" style="width: 18rem;border-color: transparent;">
                      <div class="card-body">
                        <img src="{% static 'assets/img/checklist.gif' %}" width="100px" style="margin-left:30%; margin-bottom: 20%">
                        <h4 class="card-subtitle mb-2 text-muted" style="font-weight:normal; text-align: center">Checked thoroughly!</h4>
                        <p class="card-text" style="font-size: 15px; text-align: center">Books are checked multiple times before getting to you for any missing sections.</p>
                       
                      </div>
                    </div>
                </div>
                <div class="col-9 col-md-5 col-sm-7 mt-5 col-lg-4">
                    <div class="card" style="width: 18rem;border-color: transparent;">
                      <div class="card-body">
                        <img src="{% static 'assets/img/create-order.gif' %}" width="100px" style="margin-left:30%; margin-bottom: 20%">
                        <h4 class="card-subtitle mb-2 text-muted" style="font-weight:normal; text-align: center">Save Upto 80% on your orders</h4>
                        <p class="card-text" style="font-size: 15px; text-align: center">Spend less on your books and pay more attention to your semesters.</p>
                        
                      </div>
                    </div>
                </div>
            </div>


            <hr data-aos="fade-up">

            <h2 data-aos="fade-up"  class="mt-5 mb-5" style="text-align: center;font-weight:normal">Common FAQ regarding Book Renting!</h2>

            <div class="row mt-5 justify-content-center" data-aos="fade-up">
                <div class="col-9 mt-5 col-sm-7 col-md-5 col-lg-4">
                    <div class="card" style="width: 18rem; border-color: transparent;">
                      <div class="card-body">
                        
                        <h4 class="card-subtitle mb-2 text-muted" style="font-weight:normal;text-align: center">Do I have to subscribe to view E-Books?</h4>
                        <p class="card-text" style="font-size: 15px; text-align: center">Yes! You have to subscribe in order to view the E-Books. Try our one month Plan for free. </p>
                        <center><a href="/rates">Subscribe</a></center>
                       
                      </div>
                    </div>
                </div>
                <div class="col-9 mt-5 col-sm-7 col-md-5 col-lg-4">
                    <div class="card" style="width: 18rem;border-color: transparent;">
                      <div class="card-body">
                        
                        <h4 class="card-subtitle mb-2 text-muted" style="font-weight:normal; text-align: center">Do I get a Hardcopy or an E-book if I order from Just Ask?</h4>
                        <p class="card-text" style="font-size: 15px; text-align: center">Just Ask only provides E-book Renting services for now.</p>
                       
                      </div>
                    </div>
                </div>
                <div class="col-9 mt-5 col-sm-7 col-md-5 col-lg-4">
                    <div class="card" style="width: 18rem;border-color: transparent;">
                      <div class="card-body">
                        
                        <h4 class="card-subtitle mb-2 text-muted" style="font-weight:normal; text-align: center">What do I do if I want to keep the book for a long time?</h4>
                        <p class="card-text" style="font-size: 15px; text-align: center">You can always extend your rental time. With two easy steps you can extend your purchase.</p>
                        
                      </div>
                    </div>
                </div>
            </div>
      
      

      </div>
    </section>


  </main><!-- End #main -->
{% endblock %}