{% extends "main/header.html" %}
{% block content %}
{% load static %}
{% load poll_extras %}



  <main>
    <!-- ======= Breadcrumbs Section ======= -->
    <section id="study" class="breadcrumbs bg-white">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

           <form action="/notesearch_request" method="get">
            <div class="row"> 
            <div class="col-sm-7">
              <div class="input-group input-group-lg">
              <input type="text" class="form-control mt-4" name="search" id='search' aria-label="Large" placeholder="Search By Title, Description or Author's Name" aria-describedby="inputGroup-sizing-sm" value="{{question}}" style="border-color: #1acc8d; border-width: 3px;width: 900px; border-radius: 5px">
           
              </div>
            </div>

            <div class="col-sm">
            <div class="text-center text-lg-left">
              
                {% csrf_token %}
                <input class="btn btn-get-started mt-4" type="submit" value="Search" style="border-radius: 5px;">
            </div>
            </div>

           
          
            </div>
             </form>

         
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->



    <section class="breadcrumbs bg-white mb-0 mt-2">
      <div class="container">

        <div class="d-flex align-items-center">
          <ol>
            <li><a href="/notes">Field Select</a></li>
            <li>{{question}}</li>
          </ol>
        </div>

      </div>

    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page" style="height: auto">
      <div class="container">
        <h2>You Search for - {{question}}</h2>
      
        <hr>
      <h3 style="font-style: normal; color: grey">Available Notes</h3>
      <br>
      <div class="row mb-5 justify-content-center">
        <div class="card-deck justify-content-center">
      {% for b in qs %}
    <div class="col-4 col-sm-7 col-md-7 ml-5 mr-5 col-lg-3" >

              <div class="card shadow p-3 mb-5 bg-white rounded"  style="width: 18rem;height: auto; display: inline-block">
                <center>
                   <div class="card-body ">
                  <h5 class="card-title"><b>{{b.File_name|highlight:question|truncatewords_html:20|safe}}</b></h5>
                  <hr>
                  <p style="font-size: 14px">Author: {{b.Auth|highlight:question|safe}}</p>
                  <p class="card-text" style="font-size: 15px">{{b.Description|highlight:question|truncatewords_html:15|safe}}</p>
                  

                  <form action="/noteview_request" method="get">
                    <input type="text" class="form-control" name="notes" id="notes"  value="{{b.File}}" hidden="True">
                  <input type="submit" value="Open Notes" style="border-color: transparent; background-color: transparent;color: #1acc8d">
                </form>
                  
                </div>
                </center>
               
              </div>
            </div>
      {% endfor %}
    </div>
    </div>




<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if qs.has_previous == True %}
    <li class="page-item">
      <a class="page-link" href="?page={{ qs.previous_page_number }}&search={{question}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    {% endif %}

    {% for num in qs.paginator.page_range %}
      {% if qs.number == num %}
      <li class="page-item active"><a class="page-link" href="?page={{ num }}&search={{question}}">{{num}}</a></li>
      {% elif num > qs.number|add:'-3' and num < qs.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}&search={{question}}">{{num}}</a></li>
      {% endif %}
    {% endfor %}
    
  
    {% if qs.has_next == True %}
    <li class="page-item">
      <a class="page-link" href="?page={{ qs.next_page_number }}&search={{question}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    {% endif %}
  </ul>
</nav>

      

      </div>
    </section>


  </main><!-- End #main -->
{% endblock %}