{% extends "main/header.html" %}
{% block content %}
{% load static %}
{% load poll_extras %}



  <main>
    <!-- ======= Breadcrumbs Section ======= -->
    <section id="prof" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

           <form action="/booksearch_request" method="get">
            <div class="row"> 
            <div class="col-sm-7">
              <div class="input-group input-group-lg">
              <input type="text" class="form-control mt-4" name="search" id='search' aria-label="Large" placeholder="Search By ISBN, Title or Author's Name" aria-describedby="inputGroup-sizing-sm" style="border-color: #1acc8d; border-width: 3px;width: 900px; border-radius: 5px">
           
              </div>
            </div>

            <div class="col-sm">
            <div class="text-center text-lg-left">
              
                {% csrf_token %}
                <input class="btn btn-get-started mt-4" type="submit" value="Search" style="border-radius: 5px;">
            </div>
            </div>

            </div>
             </form>

        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->


    <section class="breadcrumbs bg-white mb-0 mt-2">
      <div class="container">

        <div class="d-flex align-items-center">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Books</li>
          </ol>
        </div>

      </div>

     
    </section><!-- End Breadcrumbs Section -->
<hr>
    <section class="inner-page mt-0">
      <div class="container mt-0" style="margin-bottom: 200px">



      </div>
    </section>


  </main><!-- End #main -->
{% endblock %}