  {% extends "main/header.html" %}
{% block content %}
{% load static %}
{% load poll_extras %}




  <main>
    <!-- ======= Breadcrumbs Section ======= -->
    <br><br><br>

    <section class="inner-page mt-0">
      <div class="container mt-0">

        <h1>Quiz Instructions!</h1>
        <hr>
        <p>Please read the given instruction very carefully.</p>

        
        <a href=""><button type="button" class="btn btn-secondary">Start Quiz</button></a>
       </div>
     </section>
     

  </main><!-- End #main -->
{% endblock %}