{% extends "main/header.html" %}
{% block content %}
{% load static %}
{% load poll_extras %}



  <main>
    <!-- ======= Breadcrumbs Section ======= -->
<br><br><br><br>


    <section class="breadcrumbs bg-white mb-0 mt-0">
      <div class="container">

        <div class="d-flex align-items-center">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Rates</li>
          </ol>
        </div>

      </div>

     
    </section><!-- End Breadcrumbs Section -->
<hr>





    <section class="inner-page mt-0">
      <div class="container mt-0" style="margin-bottom: 200px">

       
          <h1 class="display-4">Thank you for your Donation!</h1>
          <h4>We appreciate you contribution. This donation will be used to provide better services and more free features to our subscribers.</h4>
            <hr>
      
      

      

      </div>
    </section>




  </main><!-- End #main -->
{% endblock %}